extends layout

block content
  p= 'To use the ' + title + ' please login by clicking on the link below'
  a.btn.btn-info(href='/login/connect?iss=https%3A%2F%2Fsnowflake-op.herokuapp.com') Sign in with Snowflake
